In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"anime.csv")

In [38]:
df.head()

,Rank,Title,Score,Episodes,Total Time,Start,End,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,2009-04-01,2010-07-01,15
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,2011-04-01,2011-09-01,5
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,2022-10-01,2022-12-01,2
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,2015-04-01,2016-03-01,11
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,2019-04-01,2019-07-01,3

In [4]:
df.head()

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [5]:
#make a new column for episode count

In [6]:
#extract
def extract_ep(txt):

    flag = False
    episodes = ""
    for i in txt:
        if i == ")":
            flag = False
            return episodes
        if flag == True:
            episodes = episodes + i
        if i == "(":
            flag = True

In [ ]:
df['Title'].apply(extract_ep) #get episodes

In [8]:
df['Episodes'] =  df['Title'].apply(extract_ep)

In [9]:
df.head()

   Rank                                              Title  Score Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10   64 eps
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07   24 eps
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06   13 eps
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06   51 eps
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05   10 eps

In [10]:
#replace eps in episodes

In [ ]:
df['Episodes'].str.replace("eps","")

In [12]:
df['Episodes'] = df['Episodes'].str.replace("eps","")

In [13]:
df.head()

   Rank                                              Title  Score Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10      64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07      24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06      13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06      51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05      10

In [ ]:
#convert str to int
df['Episodes'].astype(int)

In [15]:
df['Episodes'] = df['Episodes'].astype(int)

In [16]:
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [17]:
#make a new column for episode count
#make a new column for time stamp
#give me top 5 highest scoring anime
#which anime has the highest episode countabs
#animes with top 5 episode countabs
#which is the longest running anime

In [18]:
#make a new column for time stamp

In [19]:
df.loc[2]['Title']

'Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 - Dec 2022474,138 members'

In [20]:
#extract time stamp
def extract_time_stamp(txt):
    flag = False
    time_stamp = ""
    for i in range(len(txt)):
        if txt[i] == ")":
            for j in range(i+1 ,i+20):
                time_stamp+= txt[j]

                
    return time_stamp

In [21]:
#apply
dates =df['Title'].apply(extract_time_stamp)
dates.head()

0    Apr 2009 - Jul 2010
1    Apr 2011 - Sep 2011
2    Oct 2022 - Dec 2022
3    Apr 2015 - Mar 2016
4    Apr 2019 - Jul 2019
Name: Title, dtype: object

In [22]:
df['Total Time'] = df['Title'].apply(extract_time_stamp)

In [23]:
df.head()

,Rank,Title,Score,Episodes,Total Time
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [33]:
#add total months 

def months_diff(row):
    start_str, end_str = row.split('-')
    start = pd.to_datetime(start_str.strip(), format='%b %Y')
    end = pd.to_datetime(end_str.strip(), format='%b %Y')
    return (end.year - start.year) * 12 + (end.month - start.month)

In [ ]:
df['Total Time'].apply(months_diff)

In [36]:
df['Months'] = df['Total Time'].apply(months_diff)

In [37]:
df.head()

,Rank,Title,Score,Episodes,Total Time,Start,End,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,2009-04-01,2010-07-01,15
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,2011-04-01,2011-09-01,5
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,2022-10-01,2022-12-01,2
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,2015-04-01,2016-03-01,11
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,2019-04-01,2019-07-01,3

In [39]:
#give me top 5 highest scoring anime
df.head()

,Rank,Title,Score,Episodes,Total Time,Start,End,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,2009-04-01,2010-07-01,15
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,2011-04-01,2011-09-01,5
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,2022-10-01,2022-12-01,2
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,2015-04-01,2016-03-01,11
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,2019-04-01,2019-07-01,3

In [ ]:
#which is the top one score anime

In [45]:
maxx_score = df['Score'].max()

In [47]:
maxx_score

9.1

In [ ]:
df[['Score']] == maxx_score

In [60]:
df.loc[0]['Title'] #or maxx_score = df[['Score'].max()['Title']]

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [64]:
#which anime has the highest episode countabsabs
maxx_episode = df['Episodes'].max()

In [65]:
maxx_episode

201

In [73]:
top1 = df[df['Episodes']==maxx_episode]

In [86]:
top1

,Rank,Title,Score,Episodes,Total Time,Start,End,Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,2006-04-01,2010-03-01,47

In [93]:
df.sort_values(by=['Episodes'],ascending=False).head()

,Rank,Title,Score,Episodes,Total Time,Start,End,Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,2006-04-01,2010-03-01,47
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014,2011-10-01,2014-09-01,35
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,1988-01-01,1997-03-01,110
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002,2000-10-01,2002-03-01,17
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005,2004-04-01,2005-09-01,17

In [ ]:
#which is the longest running anime

In [98]:
longest = df[df['Months']== df['Months'].max()]

In [99]:
longest

,Rank,Title,Score,Episodes,Total Time,Start,End,Months
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,1988-01-01,1997-03-01,110